{% extends "base.html.twig" %}

{% block title %}Modification de la note de plusieurs étudiants{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
{% endblock %}

{% block body %}
    <div id="app">
        {% include "includes/components/sidebar.html.twig" %}

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Modification de la note de plusieurs étudiants</h3>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-12">
                        <form action="{{ path("teacher_notemultiplechange") }}" method="POST">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Sélection des actions à opérer</h4>
                                </div>

                                <div class="card-body">
                                    <p class="text-muted">
                                        Cochez les actions à prendre en compte pour chaque étudiant, en fonction des critères sélectionnés précédemment, puis validez votre sélection pour lancer la modification des notes concernées.
                                    </p>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table-hover table-responsive table-striped">
                                                <thead>
                                                    <th></th>
                                                    {% for criteria in selectedCriterias %}
                                                        <th>{{ criteria.name }}</th>
                                                    {% endfor %}
                                                </thead>
                                                <tbody>
                                                {% for student in students %}
                                                    <tr>
                                                        <td>{{ student.firstName }} {{ student.lastName }} ({{ student.promotion.name }})</td>
                                                        {% for criteria in selectedCriterias %}
                                                            <td class="text-center">
                                                                <button type="button" class="btn btn-sm increaseCriteriaNumber" data-criteria="{{ student.id }}_{{ criteria.id }}">+</button>
                                                                <input type="number" id="{{ student.id }}_{{ criteria.id }}" name="{{ student.id }}_{{ criteria.id }}" min="0" step="1" value="0" max="99" width="15" class="form-control-sm">
                                                                <button type="button" class="btn btn-sm decreaseCriteriaNumber" data-criteria="{{ student.id }}_{{ criteria.id }}">-</button>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer d-flex justify-content-end">
                                    <button class="btn btn-light-primary" type="submit">Sauvegarder la sélection</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% include "includes/components/footer.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/pages/logged_in/admin/notechange_multiple_step2.js"></script>
{% endblock %}