{% extends "base.html.twig" %}

{% block title %}Administration > Établissements scolaires{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
{% endblock %}

{% block body %}
    <div id="app">
        {% include "includes/components/sidebar.html.twig" %}

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Gestion des établissements scolaires</h3>
                <p class="text-muted">Cette page permet de gérer les établissements scolaires utilisables dans LOSPAÉ. Il est possible de créer de nouveaux établissements ou d'en supprimer.</p>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <h4 class="card-title">Liste des établissements</h4>

                                <div>
                                    <button id="delete_selected_schools" class="btn btn-dark" title="Supprimer les établissements sélectionnés">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <a href="{{ path("admin_school_add") }}" class="btn btn-primary">Ajouter un nouvel établissement</a>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="schoolglobalselection" /></th>
                                                <th class="text-center">NOM DE L'ÉTABLISSEMENT</th>
                                                <th class="text-center">ADRESSE POSTALE</th>
                                                <th class="text-center">NOMBRE DE PROMOTIONS</th>
                                                <th class="text-center">NOMBRE D'ÉTUDIANTS</th>
                                                <th>ACTIONS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for school in schools %}
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class="schoolselection" id="schoolselected_{{ school.data.id }}" data-school="{{ school.data.id }}" />
                                                    </td>
                                                    <td class="text-center">{{ school.data.name }}</td>
                                                    <td class="text-center">
                                                        {{ school.data.address }}
                                                        <br />{{ school.data.postalCode }} {{ school.data.city }}
                                                    </td>
                                                    <td class="text-center">{{ school.promos }}</td>
                                                    <td class="text-center">{{ school.students }}</td>
                                                    <td>
                                                        <a href="#" class="btn btn-dark" title="Supprimer l'établissement {{ school.data.name }}">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <nav class="mx-auto mt-4">
                                    <ul class="pagination">
                                        {% set totalPages = totalElements > 20 ? (totalElements / 20) | round(0, 'ceil') : 0 %}
                                        {% if currentPage > 0 %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ path("admin_schools") }}?page={{ currentPage - 1 }}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Précédent</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% set range = 6 %}
                                        {% for page in (currentPage - range > 0 ? currentPage - range : 0)..(currentPage + range < totalPages ? currentPage + range : totalPages) %}
                                        <li class="page-item {{ currentPage == page ? 'active' : '' }}"><a class="page-link" href="{{ path("admin_schools") }}?page={{ page }}">{{ page + 1 }}</a></li>
                                        {% endfor %}
                                        {% if currentPage < totalPages %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ path("admin_schools") }}?page={{ currentPage + 1 }}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Suivant</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "includes/components/footer.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/pages/logged_in/admin/schools.js"></script>
{% endblock %}