{% extends "base.html.twig" %}

{% block title %}Administration > Établissements scolaires{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
{% endblock %}

{% block body %}
    <div id="app">
        {% include "includes/components/sidebar.html.twig" %}

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Suppression d'un établissement scolaire</h3>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Confirmation de l'opération</h4>
                            </div>
                            <div class="card-body">
                                {% if schools|length > 1 %}
                                    <p>Vous êtes sur le point de supprimer les {{ schools|length }} établissements scolaires suivants :</p>

                                    <div class="row">
                                        {% for school in schools %}
                                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                <div class="card">
                                                    <div class="card-body py-4 px-4">
                                                        <div class="d-flex align-items-center">
                                                            <div class="ms-3 name">
                                                                <h5 class="font-bold">{{ school.name }}</h5>
                                                                <h6 class="text-muted mb-0">
                                                                    {{ school.address }}
                                                                    <br />{{ school.postalCode }} {{ school.city }}
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <p class="text-danger">Cette opération est irréversible. Toutes les données concernant ces établissments scolaires seront définitivement supprimées de LOSPAÉ. Cela inclut la liste des promotions des établissements, ainsi que les utilisateurs rattachés aux différentes promotions.</p>
                                    <p>Êtes-vous sûr de vouloir effectuer cette opération ?</p>
                                    <p>
                                        <a href="{{ path("admin_school_doremove", { ids: schoolsIds }) }}" class="btn btn-primary">Oui, je suis sûr(e).</a>
                                        <a href="{{ path("admin_schools") }}" class="btn btn-secondary">Non, j'ai changé d'avis.</a>
                                    </p>
                                {% else %}
                                    <p>Vous êtes sur le point de supprimer l'établissement scolaire suivant :</p>

                                    <div class="card">
                                        <div class="card-body py-3 px-3">
                                            <div class="d-flex align-items-center">
                                                <div class="ms-3 name">
                                                    <h5 class="font-bold">{{ schools[0].name }}</h5>
                                                    <h6 class="text-muted mb-0">
                                                        {{ schools[0].address }}
                                                        <br />{{ schools[0].postalCode }} {{ schools[0].city }}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="text-danger">Cette opération est irréversible. Toutes les données concernant l'établissement scolaire seront définitivement supprimées de LOSPAÉ. Cela inclut la liste des promotions de l'établissement, ainsi que les utilisateurs rattachés aux différentes promotions.</p>
                                    <p>Êtes-vous sûr de vouloir effectuer cette opération ?</p>
                                    <p>
                                        <a href="{{ path("admin_school_doremove", { ids: schools[0].id }) }}" class="btn btn-primary">Oui, je suis sûr(e).</a>
                                        <a href="{{ path("admin_schools") }}" class="btn btn-secondary">Non, j'ai changé d'avis.</a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "includes/components/footer.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}