{% extends "base.html.twig" %}

{% block title %}Administration > Gestion des enseignants{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
{% endblock %}

{% block body %}
    <div id="app">
        {% include "includes/components/sidebar.html.twig" %}

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Gestion des enseignants</h3>
                <p class="text-muted">Cette page permet de gérer les enseignants inscrits dans la base de données de LOSPAÉ. Il est possible d'activer les comptes en attente, de les désactiver, d'attribuer des droits d'accès particuliers, d'attribuer ou retirer des promotions ou même de les supprimer définitivement.</p>
            </div>

            <div class="page-content">
                {% if generatedLetters|length > 0 %}
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Lettres générées pendant l'importation</h4>
                                </div>

                                <div class="card-body">
                                    <p class="text-muted">
                                        Des lettres ont été générées pour les comptes enseignants importés il y a quelques secondes. Vous pouvez les télécharger si vous le souhaitez pour les fournir aux enseignants concernés.
                                        <br />
                                        ATTENTION : Ce sera votre seule opportunité de les télécharger. Ces documents ne vous seront pas représentés par la suite et seront supprimés de LOSPAÉ dans quelques heures.
                                    </p>

                                    <ul>
                                        {% for generatedLetter in generatedLetters %}
                                            <li><a href="{{ path("download_notificationletter", {filename: generatedLetter}) }}" target="_blank">{{ generatedLetter }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <h4 class="card-title">Liste des enseignants</h4>

                                <div>
                                    <button id="enable_selected_teachers" class="btn btn-success" title="Activer les comptes sélectionnés">
                                        <i class="fas fa-user-check"></i>
                                    </button>
                                    <button id="disable_selected_teachers" class="btn btn-danger" title="Désactiver les comptes sélectionnés">
                                        <i class="fas fa-user-times"></i>
                                    </button>
                                    <button id="delete_selected_teachers" class="btn btn-dark" title="Supprimer les comptes sélectionnés">
                                        <i class="fas fa-user-slash"></i>
                                    </button>
                                    <a href="{{ path("admin_teachers_import") }}" class="btn btn-primary">Importer des enseignants</a>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="teacherglobalselection" /></th>
                                                <th class="text-center">NOM</th>
                                                <th class="text-center">PRÉNOM</th>
                                                <th class="text-center">ADRESSE E-MAIL</th>
                                                <th class="text-center">ÉTAT DU COMPTE</th>
                                                <th>ACTIONS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for teacher in teachers %}
                                                <tr>
                                                    <td>
                                                        {% if teacher.email is not same as(app.user.email) %}
                                                            <input type="checkbox" class="teacherselection" id="teacherselected_{{ teacher.id }}" data-teacher="{{ teacher.id }}" />
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center">{{ teacher.lastName }}</td>
                                                    <td class="text-center">{{ teacher.firstName }}</td>
                                                    <td class="text-center">{{ teacher.email }}</td>
                                                    <td class="text-center">
                                                        {% if teacher.isActivated %}
                                                            <i class="fas fa-check" title="Compte activé"></i>
                                                        {% else %}
                                                            <i class="fas fa-times" title="Compte désactivé"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if teacher.isActivated %}
                                                        <a href="{{ path("admin_teacher_configure", { id: teacher.id }) }}" class="btn btn-primary" title="Configurer le compte de {{ teacher.firstName }} {{ teacher.lastName }}">
                                                            <i class="fas fa-user-cog"></i>
                                                        </a>
                                                        {% endif %}

                                                        {% if teacher.email is not same as(app.user.email) %}
                                                            {% if teacher.isActivated %}
                                                                <a href="{{ path("admin_teacher_disable", { ids: teacher.id }) }}" class="btn btn-danger" title="Désactiver le compte de {{ teacher.firstName }} {{ teacher.lastName }}">
                                                                    <i class="fas fa-user-times"></i>
                                                                </a>
                                                            {% else %}
                                                                <a href="{{ path("admin_teacher_enable", { ids: teacher.id }) }}" class="btn btn-success" title="Activer le compte de {{ teacher.firstName }} {{ teacher.lastName }}">
                                                                    <i class="fas fa-user-check"></i>
                                                                </a>
                                                            {% endif %}

                                                            <a href="{{ path("admin_teacher_remove", { ids: teacher.id }) }}" class="btn btn-dark" title="Supprimer le compte de {{ teacher.firstName }} {{ teacher.lastName }}">
                                                                <i class="fas fa-user-slash"></i>
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <nav class="mx-auto mt-4">
                                    <ul class="pagination">
                                        {% set totalPages = totalElements > 20 ? (totalElements / 20)|round(0, 'floor') : 1 %}
                                        {% if currentPage > 0 %}
                                            <li class="page-item">
                                                <a class="page-link" href="{{ path("admin_teachers") }}?page={{ currentPage - 1 }}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Précédent</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for page in 0..(totalPages - 1) %}
                                            <li class="page-item {{ currentPage == page ? 'active' : '' }}"><a class="page-link" href="{{ path("admin_teachers") }}?page={{ page }}">{{ page + 1 }}</a></li>
                                        {% endfor %}
                                        {% if currentPage < totalPages - 1 %}
                                            <li class="page-item">
                                                <a class="page-link" href="{{ path("admin_teachers") }}?page={{ currentPage + 1 }}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Suivant</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "includes/components/footer.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/pages/logged_in/admin/teachers.js"></script>
{% endblock %}