{% extends "base.html.twig" %}

{% block title %}Administration > Utilisateurs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
{% endblock %}

{% block body %}
    <div id="app">
        {% include "includes/components/sidebar.html.twig" %}

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Édition d'un utilisateur</h3>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-12">
                        <form action="{{ path("admin_user_edit", { ids: user.id }) }}" method="POST">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Choix de l'affectation</h4>
                                </div>

                                <div class="card-body">
                                    <div class="card">
                                        <div class="card-body py-3 px-3">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-xl">
                                                    <img src="/assets/img/avatars/{{ user.avatar }}" alt="Photo de profil de {{ user.firstName }} {{ user.lastName }}" />
                                                </div>

                                                <div class="ms-3 name">
                                                    <h5 class="font-bold">{{ user.firstName }} {{ user.lastName }}</h5>
                                                    <h6 class="text-muted mb-0">
                                                        {% if "ROLE_TEACHER" in user.roles %}
                                                            Enseignant
                                                        {% elseif "ROLE_STUDENT" in user.roles %}
                                                            Étudiant
                                                        {% endif %}

                                                        {% if "ROLE_ADMIN" in user.roles %}
                                                            <span class="badge bg-secondary">Admin</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="text-muted">Sélectionnez l'établissement scolaire et la promotion à affecter à l'étudiant sélectionné, puis cliquez sur le bouton pour enregistrer les modifications.</p>

                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-2 col-3">
                                            <label class="col-form-label" for="school">Établissement scolaire</label>
                                        </div>

                                        <div class="col-lg-10 col-9">
                                            <select class="form-select" id="school" name="school" required data-parsley-required="true" data-parsley-error-message="Vous devez sélectionner un établissement scolaire.">
                                                <option value="" selected hidden>Sélectionnez un établissement scolaire...</option>
                                                {% for school in schools %}
                                                    <option value="{{ school.id }}">{{ school.name }} ({{ school.city }})</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-2 col-3">
                                            <label class="col-form-label" for="promo">Promotion</label>
                                        </div>

                                        <div class="col-lg-10 col-9">
                                            <select class="form-select" id="promo" name="promo" required data-parsley-required="true" data-parsley-error-message="Vous devez sélectionner une promotion.">
                                                <option value="" selected hidden>Sélectionnez une promotion...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer d-flex justify-content-end">
                                    <button class="btn btn-light-primary" type="submit">Enregistrer les modifications</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% include "includes/components/footer.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/template/extensions/parsleyjs/parsley.min.js"></script>
    <script src="/template/extensions/parsleyjs/i18n/fr.js"></script>
    <script src="/template/static/js/pages/parsley.js"></script>
    <script src="/assets/js/pages/logged_in/admin/users_edit.js"
{% endblock %}