{% extends "base.html.twig" %}

{% block title %}Critères de notation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
{% endblock %}

{% block body %}
    <div id="app">
        {% include "includes/components/sidebar.html.twig" %}

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Liste des critères de notation</h3>
                <p class="text-muted">Cette page vous permet de (re)voir les critères de notation appliquables sur LOSPAÉ. Les critères sont affichés en fonction de leur impact, de la plus grande perte au plus grand gain de points possible. Notez qu'ils sont susceptibles de changer à n'importe quel moment, sans préavis, sur décision de votre enseignant.</p>
            </div>

            <div class="page-content">
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" id="criteriasTabs" role="tablist">
                            {% for criteria in criterias %}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link {% if loop.first %}active{% endif %}" id="criteria{{ criteria.teacher.id }}-tab" data-bs-toggle="tab" data-bs-target="#note{{ criteria.teacher.id }}" type="button" role="tab" aria-controls="criteria{{ criteria.teacher.id }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ criteria.teacher.lastName|upper }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="tab-content">
                    {% for criteria in criterias %}
                        <div class="tab-pane {% if loop.first %}active{% endif %}" id="note{{ criteria.teacher.id }}" role="tabpanel" aria-labelledby="note{{ criteria.teacher.id }}-tab">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Liste des critères de notation</h4>
                                        </div>

                                        <div class="card-body">
                                            {% if criteria.criterias|length > 0 %}
                                            <div class="table-responsive">
                                                <table class="table table-striped mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center">NOM</th>
                                                        <th class="text-center">IMPACT</th>
                                                        <th class="text-center">MODALITÉS</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for teacherCriteria in criteria.criterias %}
                                                        <tr>
                                                            <td class="text-center">{{ teacherCriteria.name }}</td>
                                                            <td class="text-center">{{ teacherCriteria.impact|number_format(2) }}</td>
                                                            <td class="text-center">
                                                                {% if teacherCriteria.modality is not null and teacherCriteria.modality is not same as("") %}
                                                                    {{ teacherCriteria.modality }}
                                                                {% else %}
                                                                    Aucune modalité particulière.
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            {% else %}
                                                <center><p>Aucun critère actuellement enregistré.</p></center>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% include "includes/components/footer.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}