{% extends "base.html.twig" %}

{% block title %}Accueil enseignant{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
{% endblock %}

{% block body %}
    <div id="app">
        {% include "includes/components/sidebar.html.twig" %}

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Accueil enseignant</h3>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Vos établissements</h4>
                            </div>

                            <div class="card-body">
                                {% if schools|length > 0 %}
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">NOM DE L'ÉTABLISSEMENT</th>
                                                    <th class="text-center">ADRESSE POSTALE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for school in schools %}
                                                <tr>
                                                    <td class="text-center">{{ school.name }}</td>
                                                    <td class="text-center">
                                                        {{ school.address }}
                                                        <br />{{ school.postalCode }} {{ school.city }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <center>Aucun établissement ne vous a été affecté.</center>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Vos promotions</h4>
                            </div>

                            <div class="card-body">
                                {% if promotions|length > 0 %}
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">ÉTABLISSEMENT CONCERNÉ</th>
                                                    <th class="text-center">NOM DE LA PROMOTION</th>
                                                    <th class="text-center">NOMBRE D'ÉTUDIANTS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for promotion in promotions %}
                                                <tr>
                                                    <td class="text-center">{{ promotion.school.name }} ({{ promotion.school.city }})</td>
                                                    <td class="text-center">{{ promotion.name }}</td>
                                                    <td class="text-center">{{ promotion.students|length }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <center>Aucune promotion ne vous a été affecté.</center>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start">
                                        <div class="stats-icon blue mb-2">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="text-muted font-semibold">Étudiants gérés</h6>
                                        <h6 class="font-extrabold mb-0">{{ studentsCount }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start">
                                        <div class="stats-icon blue mb-2">
                                            <i class="fas fa-sort"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="text-muted font-semibold">Note moyenne</h6>
                                        <h6 class="font-extrabold mb-0">{{ studentsAverageNote|number_format(2) }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start">
                                        <div class="stats-icon blue mb-2">
                                            <i class="fas fa-stream"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="text-muted font-semibold">Opérations sur les notes</h6>
                                        <h6 class="font-extrabold mb-0">{{ studentsNotesChangeEventsCount }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "includes/components/footer.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}